<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>daw</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="row">
    <div class="column left">

      <h4>
        <a href="/">[HOME]</a>
        Usuario
      </h4>

      <!--form-->
      <input type="hidden" id="_id" name="_id">
      <input id="name" type="text" placeholder="name" name="name"></br>
      <input id="email" type="text" placeholder="email" name="email"></br>
      <button id="bNew" onclick="onNew()" title="INSERT - API POST">ADD</button>
      <button disabled id="bUpdate" onclick="onUpdate()" title="UPDATE - API PUT">UPDATE</button>
      <!--/form-->
    </div>
    <div class="column right">

      <h4>
        <a href="#" onClick="window.location.reload();">[RELOAD]</a>
        Lista
        <button onclick="api_get_all()" title="GET ALL - API GET">GET</button>
      </h4>
      <ul id="users">
        <% for(var i=0; i<users.length; i++) {%>
        <li>
          <button onclick="api_delete_id('<%= users[i]._id %>')" title="DELETE - API DELETE">DEL</button>
          <button onclick="location.href='/users/<%= users[i]._id %>'" title="GET 1 - API GET">GET</button>
          <a href="#" title="EDIT <%= users[i]._id %>"
            onclick="setUserForm('<%= users[i]._id %>','<%= users[i].name %>','<%= users[i].email %>');"><%= users[i].name %>
            <%= users[i].email %></a>
        </li>
        <% }; %>
      </ul>
    </div>
  </div>
  <script src="/main.js"></script>
</body>

</html>